/*------- Book Preview Section Starts -------*/

.slider-for .slick-slide img {
    margin: 0 auto;
}
.slider-nav .slick-slide {
    padding: 0.5rem;
}
.slider-nav .slick-slide.slick-current > div {
    outline: 2px solid #777777;
    padding: 0.25rem;
}
.slider-nav .slick-slide img {
    margin: 0 auto;
    object-fit: cover;
}
.section-heading-regular > h2 {
   font-family: "RobotoCondensed-Regular"; 
}
.old-price {
    color:#ffffff87;
    font-family: "RobotoCondensed-Regular";
    font-size: 1.5rem;
    text-decoration: line-through;
}
.current-price {
    color:#fff;
    font-family: "Gotham-Bold";
    font-size: 2.4rem;
}
.discount-badge {
    background:#ff1f00;
    color:#fff;
    font-family: "Gotham-Bold";
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
}
.book-rating {
    gap: 0.75rem;
}
.rating-stars {
    background:#00b67a;
    color:#fff;
    padding: 0.25rem 0.375rem;
    font-size: .875rem;
}
.rating-text {
    color:#fff;
    font-family: "RobotoCondensed-Regular";
    font-size: 1.5rem;
}
.reader-love {
    padding: 3rem 0;
}
.section-heading-border-bottom {
    position: relative;
    text-transform: ppercase;
}
.section-heading-border-bottom::after {
    content:"";
    width: 50px;
    height: 3px;
    background:#ffc107;
    display:block;
    margin-top: 0.75rem;
}
.overall-rating {
    color:#fff;
}
.overall-rating i {
    color:#ffc107;
}
.overall-rating > span {
    font-family: "RobotoCondensed-Regular";
    font-size: 1rem;
}
.review-wrapper {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-bottom: 12px;
}
.review-wrapper::-webkit-scrollbar {
    height: 8px;
}
.review-wrapper::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 50px;
}
.review-wrapper::-webkit-scrollbar-thumb {
    background: #f6c71a;
    border-radius: 50px;
}
.review-wrapper::-webkit-scrollbar-thumb:hover {
    background: #e7b700;
}
.review-wrapper {
    scrollbar-color: #f6c71a transparent;
    scrollbar-width: thin;
}
.review-card {
    flex: 0 0 340px;
    background:#141414;
    border-radius:20px;
    padding:24px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    scroll-snap-align:start;
}
.review-header{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.review-user {
    width:52px;
    height:52px;
    border-radius:50%;
    object-fit:cover;
}
.review-header h5 {
    color: #fff;
    font-family: "RobotoCondensed-Regular";
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}
.review-badges {
    display:flex;
    gap: 0.5rem;
    flex-wrap:wrap;
}
.badge-lover {
    background:#111;
    color:#ffc107;
    font-family: "RobotoCondensed-Regular";
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
}
.badge-verified {
    background:#eaf8ee;
    color:#28a745;
    padding: 0.25rem 0.5rem;
    font-family: "RobotoCondensed-Regular";
    font-size: 0.75rem;
    text-transform:uppercase;
}
.review-stars {
    color:#ffc107;
    font-size: 1.25rem;
    margin: 1.25rem 0 1rem;
}
.review-time {
    color: #ffffff;
    font-family: "RobotoCondensed-Regular";
    font-size: 1rem;
}
.review-card p {
    color:#f7f7f7;
    font-family: "RobotoCondensed-Regular";
    min-height: 120px;
}
.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
}
.helpful {
    background:#fff6df;
    color:#d68900;
    padding:8px 14px;
    border-radius:30px;
    font-family: "RobotoCondensed-Regular";
    font-size: 1rem;
}
.review-footer > span:last-child {
    color: #ffffff;
}

/*-- Section --*/

.about-book-section {
    padding-bottom: 5rem;
}

/*------- Shared Moments Section Starts -------*/

.section-heading-shared-moments > span {
  color: #ffffff34;
  font-family: "JosefinSlab-Light";
  font-size: 2rem;
  font-weight: bold;
  line-height: normal;
}
.section-heading-shared-moments > h2 {
  font-family: "RobotoCondensed-Regular";
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.reviews-section {
    overflow: hidden;
    background:#000;
    padding: 0rem 0 2rem;
}
.reviews-track {
    display: flex;
    gap: 1.25rem;
    width: max-content;
    animation: marquee 30s linear infinite;
}
.review-item {
    flex: 0 0 auto;
    width: 300px;
}
.review-item-video {
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
}
.review-item-video video {
    display: block;
    width: 100%;
}
.review-item img {
    border-radius: 0.75rem;
    display:block;
    height: 533px;
    object-fit: cover;
    width:100%;
}
@keyframes marquee{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}

.reviews-track:hover{
    animation-play-state: paused;
}

/*------- Shared Moments Section Ends -------*/


/*------- Author Section Starts -------*/

.author-image {
  position:relative;
}
.author-image img {
  display: block;
  margin: 0 auto;
  width: 70%;
}
.author-image > .author-label {
  background-color: #ffc400;
  bottom: -1.5rem;
  color: #000000;
  font-family: "Gotham-Bold";
  font-size: 1rem;
  padding: 1rem 2rem;
  position: absolute;
  right: 4rem;
  text-transform: uppercase;
}
.section-heading-author > span {
  color: #ffffff16;
  font-family: "Gotham-Bold";
  font-size: 9rem;
  line-height: normal;
  text-transform: uppercase;
}
.section-heading-author > h2 {
  font-family: "RobotoCondensed-Regular";
  font-size: 5rem;
  font-weight: bold;
  margin-top: -5.5rem;
}
.author-content > p {
  font-size: 1.25rem;
}
.author-content > p > strong {
    font-style: italic;
}
.author-content > .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin: 2.5rem 0 2.5rem;
}
.author-content > .tags > span {
  background:#f4f4f4;
  border-radius: 0.25rem;
  color: #777;
  font-family: "Gotham-Bold";
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
.btn-yellow > a {
  background-color: #ffc400;
  border-radius: .25rem;
  color: #000000;
  font-family: "Gotham-Medium";
  letter-spacing: 0.05rem;
  padding: 0.75rem 0.875rem;
  text-transform: uppercase;
}

/*------- Author Section Ends -------*/

/*------- Fixed Bottom Navbar Section Starts -------*/

.fixed-bottom-navbar {
    background-color: #161616;
}
.fixed-bottom-image-info > img {
    width: 70px;
}
.fixed-bottom-image-info > div > p,
.fixed-bottom-image-info > div > div > span {
    color: #ffffff;
    font-family: "RobotoCondensed-Medium";
    font-size: 1.25rem;
    margin-bottom: 0;
}
.fixed-bottom-image-info > div > div > span {
    font-family: "RobotoCondensed-Regular";
}
.fixed-bottom-image-info > div > div > span:last-child {
    font-size: 1.5rem;
}

/*------- Fixed Bottom Navbar Section Ends -------*/

@media only screen and (max-width: 575px) {

    .book-details > .section-heading > h2 {
        margin-top: 1rem;
    }
    .old-price {
        display: block;
    }
    .reader-love,
    .about-book-section {
        padding-bottom: 0;
    }
    .reviews-section {
        padding: 0;
    }
    .section-heading-shared-moments > h2 {
        font-size: 2rem;
        line-height: normal;
    }
    .author-image img {
        margin-bottom: 2rem;
        width: 100%;
    }
    .section-heading-author > span {
        font-size: 4rem;
    }
    .section-heading-author > h2 {
        font-size: 3rem;
        line-height: normal;
        margin-top: 0;
    }
    .fixed-bottom-image-info > img {
        width: 70px;
    }
    .fixed-bottom-image-info > div > p,
    .fixed-bottom-image-info > div > div > span {
        display: inline;
        font-family: "RobotoCondensed-Regular";
        font-size: 0.75rem;
    }
    .fixed-bottom-image-info > div > div > span:last-child {
        font-size: 1rem;
    }
    .fixed-bottom-image-info + div .btn-yellow a {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
    }

}